@page
@model DevChatter.GameTracker.Pages.GameRecords.IndexModel
@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<hr />

<div id="app" class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">

                <label class="control-label">Game Played:</label>

                <select v-model="gamePlayed">
                    <option v-for="game in games" v-bind:value="game">
                        {{ game.title }}
                    </option>
                </select>
                <span>Selected: {{ gamePlayed.title }}</span>
            </div>
            <div class="form-group">

                <label class="control-label">Choose Players:</label>
                <input type="text" v-model="playersFilter" v-on:change="searchPlayers" placeholder="Ex: Brendan" />
                <div class="row">
                    <div class="col-xs-4" v-for="(player, i) in filteredPlayers">
                        {{player.firstName}} {{player.lastName}}
                        <button v-on:click.stop="selectPlayer(i)">Add</button>
                    </div>
                </div>

                <select v-model="selectedPlayer"
                        v-on:change="addNewPlayer"
                        placeholder="Choose a Player">
                    <option v-for="player in allPlayers" v-bind:value="player">
                        {{ player.firstName }} {{ player.lastName }}
                    </option>
                </select>
            </div>
            <div class="form-group">
                <label class="control-label">Players in Game:</label>
                <ul>
                    <li v-for="player in players">
                        {{ player.firstName }} {{ player.lastName }} 
                        <input type="checkbox" v-model="player.won"> 
                        <input type="checkbox" v-model="player.taught">
                    </li>
                </ul>
            </div>
            <div class="form-group">
                <input v-on:click="recordGamePlayed" class="btn btn-default" 
                       value="Record Game" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/vue-multiselect@2.1.0"></script>
    <link rel="stylesheet" href="https://unpkg.com/vue-multiselect@2.1.0/dist/vue-multiselect.min.css">
    <script src="/js/game-records.js"></script>

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
